.wrap {
  width: 800px;
  margin: 100px auto;
  border: 5px solid black;
}
.wrap .left {
  width: 400px;
  height: 400px;
  background-color: pink;
}
.wrap .right {
  width: 400px;
  height: 400px;
  background-color: lightblue;
}
